################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shop.Api/obj
/Shop.Api/Properties
/Shop.Api/appsettings.Development.json
/Shop.Api/appsettings.json
/Shop.Api/Shop.Api.csproj
/Shop.Api/Shop.Api.csproj.user
/Shop.Api/Shop.Api.http
/Shop.Application/obj
/Shop.Application/Shop.Application.csproj
/Shop.Common/obj
/Shop.Common/Shop.Common.csproj
/Shop.Domain/obj
/Shop.Domain/Shop.Domain.csproj
/Shop.Dtos/obj
/Shop.Dtos/Shop.Dtos.csproj
/Shop.Infrastructure/obj
/Shop.Infrastructure/Shop.Infrastructure.csproj
/Wpf.ClientModels/obj
/Wpf.ClientModels/Wpf.ClientModels.csproj
/Wpf.ClientServices/obj
/Wpf.ClientServices/Wpf.ClientServices.csproj
/Wpf.Shared/obj
/Wpf.Shared/Wpf.Shared.csproj
/Wpf.UI/obj
/Wpf.UI/Wpf.UI.csproj.user
/Wpf.UI/Wpf.UI.csproj
/Wpf.UI/AssemblyInfo.cs
/Wpf.ViewModels/obj
/ShopApp.slnx
/Wpf.ViewModels/Wpf.ViewModels.csproj
/Shop.Api/bin/Debug/net10.0
/Shop.Application/bin/Debug/net10.0
/Shop.Common/bin/Debug/net10.0
/Shop.Domain/bin/Debug/net10.0
/Shop.Dtos/bin/Debug/net10.0
/Shop.Infrastructure/bin/Debug/net10.0
/Wpf.ClientModels/bin/Debug/net10.0
/Wpf.ClientServices/bin/Debug/net10.0
/Wpf.Shared/bin/Debug/net10.0
/Wpf.UI/bin/Debug/net10.0-windows
/Wpf.ViewModels/bin/Debug/net10.0
